:root {
  --font-style: "Nunito Sans", sans-serif;
  --main-text-weight: 700;
  --small-text-weight: 400;
  --link-color: ;
  --main-text-color: #fff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: var(--main-text-color);
}

h1,
h2,
h3 {
  font-weight: var(--main-text-weight);
}

p,
span {
  font-weight: var(--small-text-weight);
}
